@keyframes naslov {
  from {color: rgba(0,0,0,0);}
  to {color: rgba(0,0,0,1);}
}
@keyframes navigacija {
  from {opacity: 0}
  to {opacity: 1}
}
@keyframes glavno {
  from {margin-top: 200px}
  to {margin-top: 30px}
}

body {
  background-image: url("https://cdn.pixabay.com/photo/2015/05/16/01/11/fall-769474_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Alice', serif;
}

#burger {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  display: none;
}

ul {
  width: 455px;
  list-style-type: none;
  margin: auto;
  padding: 0 0 15px 0;
  animation: navigacija;
  animation-duration: 5s;
}
li {
  display: inline;
  font-size: 22px;
  padding-right: 15px;
}
li:last-of-type {
  padding-right: 0px;
}
li a {
  text-decoration: none;
  color: black;
}
li a:hover {
  text-decoration: underline;
}
#drop:hover ~ #drop-menu {
  display: block;
}
#drop-menu {
  display: none;
  position: absolute;
  padding-left: 120px;
}
#drop-menu:hover {
  display: block;
}

#drop-menu li{
  display: block !important;

}



header h1 {
  text-align: center;
  font-size: 50px;
  padding-bottom: 20px;
  animation: naslov;
  animation-duration: 2s;
}
main {
  width: 60%;
  margin: auto;
  text-align: justify;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.4);
  padding: 30px 50px;
  animation: glavno;
  animation-duration: 3s;
  margin-top: 30px;
}
main p {
  text-indent: 20px;
}

#pocetnaSlika {
  width: 100%;
}
#galerijaMain {
  text-align: left;
}
#prikazSlikeSpolja {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  left: 0px;
  top: 0px;
  display: none;
 
}
#prikazSlikeUnutra{
  position: relative;
  padding: 20px;
  background: white;
  margin: auto;
  margin-top: 100px;
  width: 700px;
  text-align:center;
  z-index: 20;
  line-height: 500px;
  vertical-align: middle;
  font-size: 60px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none;
          user-select: none; 
}

#izlaz {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-family: 'Segoe UI';
}
#prikazSlikeUnutra img {
  width: 600px;
  margin: 10px;
}
#prikazSlikeUnutra > * {
  vertical-align: middle;
}

#galerijaMain img {
  width: 30%;
  height: 190px;
  margin: 5px;
  margin: 5px 8px;
  box-shadow: 5px 5px 15px grey; 
}
#kontaktMain {
  height: 300px;
  position: relative;
}
#istaknuti-tekst {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-indent: 0px;
}

hr {
  border-top: 2px solid #ad5b08;
}
input {
  width: 340px;
  height: 40px;
  font-size: 20px;
  padding-left: 15px;
  font-family: 'Alice';
}
input[type="text"] {
  float: left;
  margin-left: 40px;
}

input[type="email"] {
  float: right;
  margin-right: 40px;
}

textarea {
  margin-left: 40px;
  margin-top: 20px;
  float: left;
  font-size: 20px;
  width: 560px;
  height: 150px;
  padding-left: 15px;
  padding-top: 10px;
  font-family: 'Alice';
}

input[type="button"], input[type="reset"] {
  width: 120px;
  float: right;
  margin-top: 30px;
  margin-right: 40px;
  font-size: 18px;
  background-color: white;
  padding: 0px;
  cursor: pointer;
}

#obavestenje {
  position: absolute;
  top: 10px;
  color: red;
  left: 50px;
}


input[type="button"] {
  border: 2px solid green;
}
input[type="button"]:hover {
  background-color: darkgreen;
  color: white;
}
input[type="button"]:active {
  background: lightgreen;
}

input[type="reset"] {
  border: 2px solid red;
}
input[type="reset"]:hover {
  background-color: darkred;
  color: white;
}
input[type="reset"]:active {
  background: pink;
}

@media only screen and (max-width: 1125px ) {
  main {
    width: 80%;
  }
}

@media only screen and (max-width: 735px ) {
  #galerijaMain img {
    width: 45%;
  }
}

@media only screen and (max-width: 530px ) {
  #galerijaMain img {
    width: 100%;
  }
}

@media only screen and (max-width: 520px ) {
  main {
    padding: 30px 25px;
  }
  ul {
    display: none;
  }
  #burger {
    display: block;

  }
}
